In [33]:
import pandas as pd
import numpy as np

In [34]:
data=pd.read_csv("pima-data.csv")
data

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1.8912,False
764,2,122,70,27,0,36.8,0.340,27,1.0638,False
765,5,121,72,23,112,26.2,0.245,30,0.9062,False
766,1,126,60,0,0,30.1,0.349,47,0.0000,True
767,1,93,70,31,0,30.4,0.315,23,1.2214,False

In [35]:
# Checking NAN Values

In [36]:
data.isna().sum()

num_preg        0
glucose_conc    0
diastolic_bp    0
thickness       0
insulin         0
bmi             0
diab_pred       0
age             0
skin            0
diabetes        0
dtype: int64

In [37]:
def fun(s):
    if(s==True):
        return 1
    elif(s==False):
        return 0
    
data["diabetes"]=data.diabetes.apply(fun)
data

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1.8912,0
764,2,122,70,27,0,36.8,0.340,27,1.0638,0
765,5,121,72,23,112,26.2,0.245,30,0.9062,0
766,1,126,60,0,0,30.1,0.349,47,0.0000,1
767,1,93,70,31,0,30.4,0.315,23,1.2214,0

In [39]:
# storing output in seperate array (Y) ie. diabetes column is stored in Y
Y=np.array(data["diabetes"])

# Now we will delete the diabetes column from dataset
del data["diabetes"]
Y.shape

(768,)

In [40]:
# storing rest 9 columns in X which is basically input
X=data.values
X.shape

(768, 9)

In [47]:
# model_selection is used to distribute data into training and testing
from sklearn.model_selection import train_test_split


x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((576, 9), (192, 9), (576,), (192,))

In [48]:
from sklearn.linear_model import LogisticRegression


# clf is an object of LogisticRegression

# max_iter runs loop to converge to a single point
clf=LogisticRegression(max_iter=500)

clf.fit(x_train,y_train)
y_predict=clf.predict(x_test)

In [49]:
from sklearn import metrics

metrics.accuracy_score(y_test, y_predict)

0.8020833333333334